{% extends 'base.html' %}

{% block content %}
<section class="green_section_about_us">
    <div class="see_through_slogan_box_about_us">
        <div class="texte_slogan">
            <h1 class="slogan">La Ludiole: un peu d’histoire</h1>
        </div>    
    </div>
    <div class="side_infos">
        <div class="block_dark_green_2">
            <div class="Text_principal">
                <p>
                    La ludoiole a été fondée par Claudine Laperouzza en 2002 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper purus vitae enim pellentesque senectus. Eu ultricies nam mattis elementum. Dictum orci, sapien elit, proin nisl et. Metus et etiam ipsum nisi eget condimentum nunc dolor pretium. At sed nec risus, odio elementum.
                </p>
                <br>
                <p>
                    In dolor in dignissim in ornare scelerisque egestas quis. Sodales at imperdiet tempus sit velit imperdiet eget et posuere. In penatibus convallis eros, mattis mi viverra consectetur purus at. Neque, neque euismod scelerisque praesent. Pellentesque leo sit pulvinar quisque malesuada adipiscing vivamus. Turpis nunc posuere nisi, interdum. Auctor neque aliquam tortor consectetur. Facilisi sit arcu neque habitasse massa, in. Sed euismod facilisis posuere vitae vitae proin arcu sapien. Sed elementum integer amet aenean vulputate arcu tempor. Adipiscing nulla tristique etiam facilisi nec viverra turpis. Dolor porttitor vestibulum risus egestas ornare. Dictum vivamus amet vitae ridiculus ac adipiscing donec. Lacus id blandit ultrices vulputate.
                </p>
            </div>
        </div>
</section>
<section class="qui_sommes_nous">
    <div class="box_dark_green_titleh2">
        <h2 class="white_title"></h2>
    </div>
    <div class="box_border_dark_green_left">
        <div class="dark_green_prez_paragraphe">
            <p>
                Claudine, présidente de l’association
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper purus vitae enim pellentesque senectus. Eu ultricies nam mattis elementum. Dictum orci, sapien elit, proin nisl et. Metus et etiam ipsum nisi eget condimentum nunc dolor pretium. At sed nec risus, odio elementum.
                In dolor in dignissim in ornare scelerisque egestas quis. Sodales at imperdiet tempus sit velit imperdiet eget et posuere. In penatibus convallis eros, mattis mi viverra consectetur purus at. Neque, neque euismod scelerisque praesent. Pellentesque leo sit pulvinar quisque malesuada adipiscing vivamus. Turpis nunc 
            </p>
        </div>
        <img class="profile_picture" src="static/profile_icon.svg" alt="icon de profile temporaire">
    </div>
    <div class="box_border_dark_green_right">
        <img class="profile_picture" src="static/profile_icon.svg" alt="icon de profile temporaire">
        <div class="dark_green_prez_paragraphe">
            <p>
                Claudine, présidente de l’association
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper purus vitae enim pellentesque senectus. Eu ultricies nam mattis elementum. Dictum orci, sapien elit, proin nisl et. Metus et etiam ipsum nisi eget condimentum nunc dolor pretium. At sed nec risus, odio elementum.
                In dolor in dignissim in ornare scelerisque egestas quis. Sodales at imperdiet tempus sit velit imperdiet eget et posuere. In penatibus convallis eros, mattis mi viverra consectetur purus at. Neque, neque euismod scelerisque praesent. Pellentesque leo sit pulvinar quisque malesuada adipiscing vivamus. Turpis nunc 
            </p>
        </div>
    </div>
    <div class="box_border_dark_green_left">
        <div class="dark_green_prez_paragraphe">
            <p>
                Claudine, présidente de l’association
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper purus vitae enim pellentesque senectus. Eu ultricies nam mattis elementum. Dictum orci, sapien elit, proin nisl et. Metus et etiam ipsum nisi eget condimentum nunc dolor pretium. At sed nec risus, odio elementum.
                In dolor in dignissim in ornare scelerisque egestas quis. Sodales at imperdiet tempus sit velit imperdiet eget et posuere. In penatibus convallis eros, mattis mi viverra consectetur purus at. Neque, neque euismod scelerisque praesent. Pellentesque leo sit pulvinar quisque malesuada adipiscing vivamus. Turpis nunc 
            </p>
        </div>
        <img class="profile_picture" src="static/profile_icon.svg" alt="icon de profile temporaire">
    </div>
</section>
<section class="green_section_about_us">
    <div class="see_through_slogan_box_about_us">
        <div class="texte_slogan">
            <h1 class="slogan">Nos sources</h1>
        </div>    
    </div>
    <div class="side_infos">
        <div class="block_dark_green_2">
            <div class="Text_principal">
                <p>
                    La ludoiole a été fondée par Claudine Laperouzza en 2002 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper purus vitae enim pellentesque senectus. Eu ultricies nam mattis elementum. Dictum orci, sapien elit, proin nisl et. Metus et etiam ipsum nisi eget condimentum nunc dolor pretium. At sed nec risus, odio elementum.
                </p>
                <br>
                <p>
                    In dolor in dignissim in ornare scelerisque egestas quis. Sodales at imperdiet tempus sit velit imperdiet eget et posuere. In penatibus convallis eros, mattis mi viverra consectetur purus at. Neque, neque euismod scelerisque praesent. Pellentesque leo sit pulvinar quisque malesuada adipiscing vivamus. Turpis nunc posuere nisi, interdum. Auctor neque aliquam tortor consectetur. Facilisi sit arcu neque habitasse massa, in. Sed euismod facilisis posuere vitae vitae proin arcu sapien. Sed elementum integer amet aenean vulputate arcu tempor. Adipiscing nulla tristique etiam facilisi nec viverra turpis. Dolor porttitor vestibulum risus egestas ornare. Dictum vivamus amet vitae ridiculus ac adipiscing donec. Lacus id blandit ultrices vulputate.
                </p>
            </div>
        </div>

        </div class=telecharger_pdf>
            <link class="lien_pdf" rel="stylesheet" href="https://docs.google.com/document/d/10fIgm-NhF4Zl9-GHHzOxy0DvMhRHBaL-KxferYlNCVY/export?format=pdf ">
            <img src="static/icon_pdf_file.svg" alt="icon de fichier pdf">
            Télécharger nos sources (1,2 MO)
            </link>
        </div>
</section>
{% endblock %}
