{% extends 'base.html' %}

{% block content %}
<section class="theme_selection">
    <div class="theme_green_section">
        <div class="themes" id = "myBtnContainer">
            <button class="theme active" onclick="filterSelection('all')">Tous</button>
            <button class="theme" onclick="filterSelection('Habitat')">Habitat</button>
            <button class="theme" onclick="filterSelection('Consommation')">Consommation</button>
            <button class="theme" onclick="filterSelection('Mobilité')">Mobilité</button>
            <button class="theme" onclick="filterSelection('Numérique')">Numérique</button>
        </div>
    </div>
</section>
<section class="ateliers">
    <div class="box_atelier filterDiv Habitat Consommation">
        <div class="box_atelier_header">
            <h3>écodés</h3>
        </div>
        <img class="box_atelier_img" src="static/atelier1.png" alt="">
        <p class="box_atelier_description">
            Jeu coopératif, dynamique et interactif faisant découvrir des pistes pour agir au quotidien dans l’utilisation efficace de l’énergie et le respect de l’environnement
        </p>
        <div class="box_atelier_button">
            <a class="box_atelier_more" href="/ecodes">En savoir +</a> 
        </div>
    </div>
    <div class="box_atelier filterDiv Habitat Consommation Numérique">
        <div class="box_atelier_header">
            <h3>habitapéro</h3>
        </div>
        <img class="box_atelier_img" src="static/atelier2.png" alt="">
        <p class="box_atelier_description">
            Jeu dynamique et interactif faisant découvrir des pistes pour une meilleure gestion de l’appartement, tant dans l’énergie que dans la qualité de l’air intériereur
Particularité ; atelier multiculturel
        </p>
        <div class="box_atelier_button">
            <a class="box_atelier_more" href="/habitapero">En savoir +</a> 
        </div>
    </div>
    <div class="box_atelier filterDiv Habitat Consommation Mobilité Numérique">
        <div class="box_atelier_header">
            <h3>l’énergie en-jeu</h3>
        </div>
        <img class="box_atelier_img" src="static/atelier3.png" alt="">
        <p class="box_atelier_description">
            Les participants découvrent de manière ludique grâce à un loto, des astuces pour faire des économies d’énergie, en vue d’une société à 2000 WATTS
        </p>
        <div class="box_atelier_button">
            <a class="box_atelier_more" href="/nrj_en_jeu">En savoir +</a> 
        </div>
    </div>
</section>
{% endblock %}
