{% extends 'base.html' %}

{% block content %}
        <section class="main_info">
            <div class="text_blocks">
                <div class="block_dark_green_left">
                    <div class="Text_principal">
                        <p>
                            Vous souhaitez : nous poser vos questions, discuter d’un atelier sur-mesure, nous demander un devis ? 
                        </p>
                        <br>
                        <p>
                            N’hésitez pas à nous écrire nous serons ravis de vous répondre dès que possible !
                        </p>
                    </div>
                </div>
                <div class="block_light_green_left">
                    <div class="Adresse">
                        <p>
                            La Ludiole
                        </p>
                        <p>
                            Route de la Gare 43c 
                        </p>
                        <p>
                            2017 Boudry
                        </p>
                    </div>
                </div> 
            </div>
            
            <div class="form">
                <div class="error_statement">
                    {{ error_statement }}
                </div>
                
                <form action="/form" method=post>
                    <div class="Nom">
                        <label for="exampleInput" class="form-label">Nom:</label> <br>
                        <input type="texte" class="form-control" id="exampleInput" name="nom" value="{{ nom }}">
                    </div>

                    <div class="Prénom">
                        <label for="exampleInput" class="form-label">Prénom:</label> <br>
                        <input type="text" class="form-control" id="exampleInput" name="prenom" value="{{ prénom }}">
                    </div>

                    <div class="email">
                      <label for="exampleInputEmail1" class="form-label">Adresse e-mail :</label> <br>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="e_mail" value="{{ e_mail }}">
                      <div id="emailHelp" class="form-text">Nous ne communiquerons jamais votre adresse électronique à qui que ce soit.</div>
                    </div>
                    
                    <div class="message">
                        <label for="exampleFormControlTextarea1">Votre message :</label> <br>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message" value="{{ message }}"></textarea>
                    </div> <br>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                  </form>
            </div>
            <!-- <div class="image">
                <img classe="image_flyer" src="/static/flyers_ludiole.jpg" alt="flyers de l'association ludiole">
            </div> -->
        </section>
{% endblock %}