{% extends 'base.html' %}

{% block content %}
        <section class="green_section">
            <div class="green_section_child see_through_slogan_box">
                <div class="texte_slogan">
                    <h1 class="slogan">Explorez les enjeux de  la durabilité et créez des liens par le jeu et la découverte !</h1>
                </div>    
            </div>
            <div class="green_section_child image_accueil">
                <img class="image_cocotte"src="/static/Ludiole_cocotte.jpg" alt="mains tenant une cocotte sur la quelle est écrit ludiole">
            </div>
            <div class="side_infos">
                <div class="green_section_child block_dark_green">
                    <div class="Text_principal">
                        <p>
                            La ludiole est une association à but non-lucratif dont l’objectif est de créer des liens intergénérationels, interculturels et transdisciplinaires tout en faisant prendre conscience des enjeux de durabilité dans les domaines du logement, de la mobilité, de l’alimentation et de la consommation.  
                        </p>
                        <br>
                        <p>
                            l’association propose des animations d’ateliers ludiques à thèmes autour de matériel pédagogique fabriqué par ses soins.
                        </p>
                    </div>
                </div>
                <div class="green_section_child boutons_sous_texte">
                    <div class="nav_button"><a href="/ateliers" class="nav_link">Ateliers</a></div> 
                    <div class="nav_button"><a href="/a_propos" class="nav_link">à propos de nous</a></div>        
                </div>
            </div>
        </section>
        
        <section class="partenaires">
            <div class="soutien">
                <h2 class="titre_vert_gauche">
                    Ils nous soutiennent
                </h2>
                <div class="logos_soutiens">
                    <img src="/static/canton-ne 1.png" alt="logo canton neuchâtel">
                    <img src="/static/cite-de-l-energie-ne 1.png" alt="cité de l'énergie">
                    <img src="/static/Mask group.png" alt="logo swiss énergie">
                </div>
            </div>
            <div class="client">
                <h2 class="titre_vert_droite">
                    Ils ont fait appel à nous
                </h2>
                <div class="logos_clients">
                    <img src="/static/canton-ne 1.png" alt="logo canton neuchâtel">
                    <img src="/static/cite-de-l-energie-ne 1.png" alt="cité de l'énergie">
                    <img src="/static/Mask group.png" alt="logo swiss énergie">
                </div>
            </div>
        </section>
{% endblock %}