{% extends 'base.html' %}


{% block content %}
<section class="green_section">
    <div class="green_section_child see_through_slogan_box">
        <div class="texte_slogan">
            <h1 class="slogan">{{ title }}</h1>
            <p>Jeu coopératif, dynamique et interactif faisant découvrir des pistes pour agir au quotidien dans l’utilisation efficace de l’énergie et le respect de l’environnement</p>
        </div>    
    </div>
    <div class="green_section_child image_accueil">
        <img class="image_cocotte"src="/static/energie-en-jeu.jpg" alt="mains tenant une cocotte sur la quelle est écrit ludiole">
    </div>
    <div class="side_infos">
        <div class="green_section_child block_dark_green">
            <div class="Text_principal">
                <table summary="tableau descriptif de l'atelier" class = "table">
                    <tr>
                        <td>Nombres de personnes :</td>
                        <td>entre 5 et 8 toutes les 10 minutes</td>
                      </tr>
                      <tr>
                        <td>Public :</td>
                        <td>famille</td>
                      </tr>
                      <tr>
                        <td>Lieu : </td>
                        <td>extérieur</td>
                      </tr>
                      <tr>
                        <td>Durée du jeu : </td>
                        <td>10 minutes</td>
                      </tr>
                      <tr>
                        <td>Animation : </td>
                        <td>spécialiste LUDIOLE</td>
                      </tr>
                </table>
                <br>
                <p>Descriptif :</p>
                <p>
                    Dans la rue, sur la place du marchée ou devant un grand magasin, lanimateur.trice invite les passants à jouer. Sur un dé : une question, sous le dé : un aimant, au sol : plusieurs réponses, dont une bonne. Les joueurs vontdevoir se concentrer pour décider de la bonne réponse. Puis au moyen de ficelles reliées à au élastique, ils vont devoir saisir le dé et aller soulever la réponse, sous laquelle sera écrit : BINGO si celle-ci est bonne. l’animateur.trice donnera alors les informations supplémentaires. Le nombre de personnes pouvant être touchées par ce jeu est d’environ 50 personnes à l’heure, selon la météo.  
                </p>
                <br>
                <p>
                    Les questions sont adaptées à tout public, tant enfant qu’adulte, chacun trouve des pistes pertinentes pour agir
                </p>
            </div>
        </div>
        
    </div>
</section>
<section>
    <div class="boutons_autres_ateliers">
        <div  class="atelier_precedent"><a href="/habitapero" class="nav_link">Atelier précédent</a></div> 
        <div class="atelier_suivant"><a href="/ecodes" class="nav_link">Atelier suivant</a></div>        
    </div>
</section>
{% endblock %}